# AlphaBeta Pruning v. Random
* Depth 1: 69% Win Rate
* Depth 2: 76% Win Rate
* Depth 3: 75% Win Rate

# Extra Credit Eval 1 Win Rate
